.box {
  margin-top: 10px;
}

.title {
  font-weight: 700;
  font-size: 22px;

  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;

  color: black;

  &_active {
    color: red;
  }
}

hr {
  margin: 0;
  padding: 0;
}

.boxAdditional {
  padding: 20px;
}
