.nav {
  padding: 20px;
  // box-shadow: 0 7px 2px -2px rgb(208, 205, 205);
}

.link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;

  color: black;

  &_active {
    color: red;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

hr {
  margin: 0;
  padding: 0;
}
